* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
nav {
    background: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.logo {
    color: #00adb5;
}

/* Sections */
section {
    padding: 60px 80px;
    text-align: center;
}

/* Home */
.home {
    height: 90vh;
    background: linear-gradient(to right, #00adb5, #393e46);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home {
    text-align: center;
}


.home span {
    color: yellow;
}

.home button {
    margin-top: 20px;
    padding: 10px 25px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

/* Skills */
.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 30px;
}

.skills-container div {
    background: #00adb5;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

/* Projects */
.project {
    background: #eee;
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    border-radius: 8px;
}

/* Contact */
form {
    max-width: 400px;
    margin: auto;
}

form input,
form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

form button {
    background: #00adb5;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
}

/* Profile Image Style */
.profile-pic {
    width: 160px;
    height: 160px;
    border-radius: 50%;   /* Makes it round */
    object-fit: cover;
    border: 3px solid #333;
    margin-bottom: 15px;
}




/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
