* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
nav {
    background: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.logo {
    color: #00adb5;
}

/* Sections */
section {
    padding: 60px 80px;
    text-align: center;
}

/* Home */


/* Home Section */
.home {
    height: 90vh;
    background: linear-gradient(to right, #00adb5, #393e46);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Home Content */
.home-content {
    max-width: 600px;
}



.home span {
    color: yellow;
}



/* Home Text */
.home h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
}

.home p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    opacity: 0.9;
}


/* Home Buttons */
.home a {
    display: inline-block;
    margin: 10px 10px 0;

    padding: 10px 25px;
    border-radius: 25px;

    background: black;
    color: white;
    text-decoration: none;

    font-weight: 500;
    transition: 0.3s;
}

.home a:hover {
    background: white;
    color: black;
}


/* Skills */
.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 30px;
}

.skills-container div {
    background: #00adb5;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

/* Projects */
.project {
    background: #eee;
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    border-radius: 8px;
}

/* Contact */
form {
    max-width: 400px;
    margin: auto;
}

form input,
form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

form button {
    background: #00adb5;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
}

/* Profile Image Style */
/* Profile Image */
.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;

    border: 4px solid white;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);

    margin-bottom: 20px;
}




/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
